/*oferta*/
/*to przechowuje wszystkie auta*/
.container{
    min-height:200vh;
    padding-left: 25vw;
    padding-right: 25vw;
    padding-top:20px;
}

/* kolory
niebieski #5DADE2  
bialy #ECF0F1
szary #626567
*/